#RED{
    background-color: red;
}
#BLUE{
    background-color: blue;
}
#YELLOW{
    background-color: yellow;
}
#WHITE{
    background-color: white;
}

#RANDOM {
    background: linear-gradient(45deg, red, blue, yellow, green);
    color: white; /* optional, for contrast */
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border-radius: 5px ;
    width: 100px;
    height: 50px;
    margin: 30px;
    padding: 10px;
}
